
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/*Generalna stilizacija*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

html{font-size: 62.5%;}

h1{
    font-size: 4.5rem;
}

h2{
    font-size: 2.5rem;

}

p{
    line-height: 3rem;
    font-size: 1.6rem;
}

.hor-rule{
    border: 2px solid #478ac9;
    width: 6rem;
    margin: 3rem auto;   
}

.svijetli-gumb,
.svijetli-gumb3,
.svijetli-gumb4{
    background-color: #adcce9;
    text-decoration: none;
    padding: 1rem 3rem;
    color: black;
    text-transform: uppercase;
    margin-top: 2rem;
    display: inline-block;

}

/*Header*/
header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
    z-index: 11;
    
}

header ul{
    display: flex;
    gap: 2rem;
    list-style: none;
}

header a{
    text-decoration: none;
    color: black;
}

header a:hover{
    color: brown;
}

/* Sekcija 1 */

.section1{
    background-image: url(./images/section1-pozadina.png); 
    background-attachment: fixed;
    height: 90vh;
    background-size: cover;
    color: white;
    display: flex;
    justify-content:center;
    align-items: center;
    
}

p,a{
    font-size: 1.6rem;
    line-height: 1.8;
}

.section1__content{
    padding-right: 40%;
    padding-left: 10%;
}

.section1__content p{
    margin:3rem 0;
}

.plavi-button{
    background-color: #478acd;
    color: white;
    text-decoration: none;
    padding: 1rem 3rem;
    text-transform: uppercase;
}

.plavi-button:hover{
    background-color: #387cbd;
}

/* Sekcija 2*/

.section2{
    display: flex;
    
}

.section2__content{
    flex-basis: 100%;
    text-align: center;
    padding: 15% 3rem;
}

.section2__content:nth-child(1) {
    background-color: #f1c50e;
}

.section2__content:nth-child(2) {
    background-color: #db545a;
    color: white;
}



/*Sekcija 3 i Sekcija 4*/

.section3,
.section4{
    display: flex;
    background-color: #2cccc4;
    
}

.section4{
    background-color: #f1c50e;
}

.section3__content,
.section4__content{
    text-align: center;
    width: 33%;
    padding: 45rem 3rem;
}



.section3 img,
.section4 img{
    width: 67%;
}

.section3__content{
    color: white;
}


.section3 hr,
.section4 hr{
    margin-left:auto;
}


/* Sekcija 5 6 7*/

.section5{
    background-color: #2cccc4;
    color: white;
    text-align: center;
    padding-top: 3rem;
}

.section6{
    background-color: #2cccc4;
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding-top: 3rem;
}

.section6 img{
    height: 30rem;
}

.proizvod h3,
.proizvod p{
    margin: 1.5rem 1.2rem 0;
}

.section7{
    background-color: #2cccc4;
    text-align: center;
    padding-bottom: 3rem;
}


/*Sekcija 8*/

.section8{
    display: flex;
    background: url(./images/alien_ruka.png);
    background-size: cover;
    height: 90vh;
    align-items: flex-end;
    justify-content: center;
    background-attachment: fixed;
}

.section8__content{
    background-color: #2cccc4;
    padding: 4rem;
    flex-basis: 50%;
    color: white;
    position: relative;
    right: 10rem;
    top: 6rem;
}

.section8 p{
    margin: 3rem 0;
}

.section8 hr{
    margin-left: 0;
}

.section8 h3{
    font-size: 1.6rem;
}

.section8 span{
    display: block;
    width: 80px;
    height: 80px;
    background-color:#478ac9;
    padding: 20px;
    border-radius: 50%;
}

svg{
    fill: white;
}


/*Sekcija 9*/

.section9{
    background-color: #db545a;
    color: white;
    text-align: center;
    padding-top: 10rem;
}

.section9 input{
    padding: 1rem;
    color: white;
    outline: none;
    border: 1px solid rgba(208, 208, 212, 0.5);
    border-radius: 5px;
    margin-bottom: 2rem;
}

.section9 input:nth-child(1) {
    background: transparent;
    width: 30rem;
    color: white;
}

.section9 input:nth-child(2) {
    border: none;
    cursor: pointer;
}

.section9 input::placeholder{
    color: white;
}

/*Footer*/

footer{
    background-color: #333;
    text-align: center;
}

footer p{
    color: white;
    padding: 3rem 0;
    font-size: 1.2rem;
    width: 70%;
    margin: auto;
}



@media all and (max-width:1050px){

    html{
        font-size: 55%;
    }


    .section6{
        flex-direction: column;
        align-items: center;
    }

    .section6 img{
        height: 100%;
    }

    .section8{
        height: 50vh;
    }
    .section8__content{
        flex-basis: 80%;
        right: 0;
    }
}


@media all and (max-width:830px){
    .section3{
        flex-direction: column;
    }

    .section4{
        flex-direction: column-reverse;
    }

    .section3__content,
    .section4__content{
        width: 100%;
        text-align: center;
        margin: 3rem 0;
    }

    .section3__content hr,
    .section4__content hr{
        margin: 2rem auto;
    }

    .section3 img,
    .section4 img{
        width: 80%;
        margin-bottom: 3rem;
    }
 
    .section8{
        align-items: center;
    }
    .section8__content{
        top: 0;
    }

}

@media all and (max-width:550px){
    .section2{
        flex-direction: column;
    }

    .section3 img,
    .section4 img,
    .section6 img{
        width: 100%;
    }

    .section8{
        background-image: none;
        height: 100%;
        
    }
    .section8__content{
        flex-basis: 100%;
    }
}